<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

<nav class="navbar navbar-expand-lg navbar-light navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">DailyPosts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
        <% if user_signed_in? %>
        <div class="navbar-nav">
          
            
            <button class="btn btn-link" ><%= link_to "Home", root_path %> </button>
            <span class="sr-only">(current)</span>
          </div>  
        <div class="navbar-nav">
          
        <button class="btn btn-link"> <%= link_to( "LogOut", destroy_user_session_path, :method => :delete) %> </button>
        </div>
        <% end %> 
        
        
        <a class="nav-item nav-link disabled" > 
        <% if !user_signed_in? %>
        <p class = "sign_in"> <%= link_to "Login", new_user_session_path %> </p>
        <%end%></a>
    </div>
  </div>
</nav>


 
  <body class = "container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
