<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>


  <% if !user_signed_in? %>
    <p class = "sign_in"> <%= link_to "Login", new_user_session_path %> </p>
  <%end%>

  <% if user_signed_in? %>
    <div class="button">
      <button class="button"><%= link_to "Home", root_path %> </button>
      <button class="button"> <%= link_to( "LogOut", destroy_user_session_path, :method => :delete) %> </button>
    </div>
  <% end %>
  <body class = "container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
